/* Normalização*/

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 134px;
}

/*Descktop*/

body {
  margin-top: 150px;
}

header {
  width: 100%;
  background: #222222;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  translate: (-130px);
}

header nav a {
  text-decoration: none;
}

header nav a:visited {
  color: white;
}

header img {
  width: 90px;
  margin-left: 20px;
}

nav {
  color: white;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-right: 20px;
}

nav ul li {
  background: orange;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li:hover {
  background: rgb(230, 206, 162);
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
  color: #222222;
}

.box {
  width: 950px;
  border: 3px solid rgb(46, 46, 46);
  background: rgb(226, 225, 225);
  padding: 40px;
  margin: 40px auto;
  position: relative;
}

.box h1 {
  font-weight: 700;
  margin: 20px 0px;
}

.box p {
  text-align: justify;
  line-height: 30px;
}

.box span {
  background: black;
  color: white;
  padding: 10px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  top: -25px;
  left: 30px;
}

.box .color_span {
  background: white;
  color: black;
  border: 3px solid black;
}

#produtos {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -130px; /* esse valor de acordo com a altura do header, se ele tiver 220 */
  background-color: transparent;
  z-index: -1;
}

#topo {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -130px; /* esse valor de acordo com a altura do */
  background-color: transparent;
  z-index: -1;
}
